* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #b5cbe4;
  padding: 2px 5px 0px 5px;
  /*width: 100%;*/ }

.logo {
  padding-left: 50px; }
  .logo img {
    border-radius: 10px;
    /***animacion del logo****/
    -webkit-animation: scale-in-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

nav {
  width: 100%; }

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  gap: 50px;
  padding-right: 40px; }
  .nav-bar li a {
    text-decoration: none;
    color: black; }
  .nav-bar li a:hover {
    color: #fc1111;
    cursor: pointer; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #b5cbe4;
  padding: 5px;
  width: 100%; }

.name-address {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  padding-left: 40px; }

.container-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  width: 100%;
  row-gap: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px; }
  .container-redes h5 {
    padding-right: 30px; }
  .container-redes ul a {
    margin-right: 20px; }
  .container-redes img {
    width: 40;
    height: 40px; }

.image-index {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/img/tres-personas.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.container-empresa {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;*/
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  background-color: #f0f0f0;
  border-radius: 20px; }
  .container-empresa div img {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 20px; }
  .container-empresa div h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-left: 45px; }

.texto-empresa {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 10px; }
  .texto-empresa h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding-bottom: 10px; }

section p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px; }

.container-articles {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(2, 600px);
  grid-template-areas: "box-1 box-2" "box-3 box-4";
  justify-content: space-evenly;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px; }

.box-1 {
  grid-area: box-1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px; }

.box-2 {
  grid-area: box-2;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px; }

.box-3 {
  grid-area: box-3;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px; }

.box-4 {
  grid-area: box-4;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px; }

.img-art {
  width: 80%;
  height: 300px;
  border-radius: 5px; }

.text-box {
  padding: 10px; }
  .text-box h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: crimson; }

.container-servicios {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; }
  .container-servicios h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px; }

.section-servicios {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px; }
  .section-servicios li {
    padding: 30px; }

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

.container-logo {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 300px);
  background-image: url(../assets/img/imagen-pasillo-fondo.jpg);
  background-size: cover;
  gap: 30px;
  justify-content: space-evenly; }

.logo-client img {
  width: 300px;
  height: 300px;
  border-radius: 10px; }

.lista-clientes {
  font-family: "Montserrat", sans-serif;
  font-size: 25px; }

.main-container {
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/imagen-oficina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-top: 8%;
  border-radius: 10px;
  background-color: #b5cbe4;
  height: 55%; }

.title-contact {
  row-gap: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding: 20px; }

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px; }

.box-contact {
  display: flex;
  margin: 8px 0px; }
  .box-contact label {
    flex-basis: 200px;
    margin-right: 10px; }
  .box-contact input {
    display: flex;
    flex: 1;
    padding: 5px; }

.bottom input {
  padding: 15px 60px 15px 60px;
  background-color: rgba(51, 82, 219, 0.801);
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer; }
  .bottom input :hover {
    background-color: #ef6d68; }

.msj {
  display: flex;
  /*flex: 2;*/ }

/*media queries header*/
@media (max-width: 768px) {
  .logo img {
    height: 90px;
    width: 90px;
    border-radius: 10px; }
  .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
    padding-right: 40px; } }

/*media queries footer*/
/*media queries index*/
/*media queries clientes*/
@media (max-width: 768px) {
  .container-logo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 250px);
    background-image: url(../assets/img/imagen-pasillo-fondo.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center; }
  .main-title {
    height: 40px;
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 10px; }
  .logo-client img {
    width: 200px;
    height: 200px;
    border-radius: 10px; } }

/*media queries contacto*/
@media (max-width: 768px) {
  .container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    margin-top: 12%;
    border-radius: 10px;
    background-color: #b5cbe4;
    height: 55%; } }

/*media queries header*/
@media (max-width: 576px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    gap: 10px;
    padding-right: 30px; }
  .logo img {
    height: 80px;
    width: 80px;
    border-radius: 10px; }
  .logo {
    padding-left: 35px; } }

/*media queries footer*/
@media (max-width: 576px) {
  .name-address {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    padding-left: 40px;
    font-size: 13px; }
  .container-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    width: 100%;
    row-gap: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; }
  .container-redes h5 {
    padding-right: 20px; }
  .container-redes ul a {
    margin-right: 15px; }
  .container-redes img {
    width: 20;
    height: 20px; } }

/*media queries clientes*/
@media (max-width: 576px) {
  .container-logo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 150px);
    background-image: url(../assets/img/imagen-pasillo-fondo.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    row-gap: 30px; }
  .main-title {
    height: 25px;
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-left: 10px; }
  .logo-client img {
    width: 150px;
    height: 150px;
    border-radius: 10px; } }

/*media queries contacto*/
@media (max-width: 576px) {
  .container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    margin-top: 18%;
    border-radius: 10px;
    background-color: #b5cbe4;
    height: 55%; } }
