* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/***HEADER***/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*background-color: $background-header;*/
  padding: 2px 5px 0px 2px; }

.logo {
  padding-left: 50px; }
  .logo img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    margin: 2px;
    /***animacion del logo****/
    -webkit-animation: scale-in-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

nav {
  width: 100%; }

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  gap: 50px;
  padding-right: 60px; }
  .nav-bar li a {
    text-decoration: none;
    color: white; }
  .nav-bar li a:hover {
    color: #fc1111;
    cursor: pointer; }

.fondo {
  background-color: #3b3838; }

/***FOOTER***/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3b3838;
  padding: 5px;
  width: 100%; }

.name-address {
  /*nombre y telefono de la empresa*/
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 60%;
  padding-left: 50px; }

.container-redes {
  /*contenedor de redes sociales*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%; }
  .container-redes h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-right: 40px;
    color: white; }

.container-links {
  /*container de iconos*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: 30%;
  padding-right: 35px; }
  .container-links img {
    padding: 5px;
    width: 40px;
    height: 40px; }

.background-img {
  background-image: url(../assets/img/tres-personas.png);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%; }

.main-index {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  min-height: 88%; }
  .main-index h1 {
    grid-column: 2 / 5;
    grid-row: 6 / 8;
    color: white;
    font-size: 100px;
    font-family: 'Arvo', serif;
    text-align: left;
    margin-left: 20px; }
  .main-index h2 {
    grid-column: 1 / 12;
    grid-row: 8 / 10;
    text-align: left;
    color: white;
    font-size: 50px;
    margin-left: 15px;
    font-family: "Montserrat", sans-serif; }

/*****EMPRESA*****/
.container-empresa {
  /*contenedor general de toda la pagina*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr, 1fr, 50%, 1fr, 1fr;
  grid-template-areas: "empresa empresa" "director director" "certificados certificados" "box-1 box-2" "box-3 box-4"; }

.empresa {
  /*contenedor de la descripcion de la empresa*/
  grid-area: empresa;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px; }
  .empresa img {
    /*logo de la empresa*/
    border-radius: 6px;
    width: 150px;
    height: 150px; }

.text-empresa {
  /*texto descriptivo de la empresa*/
  width: 70%; }
  .text-empresa h3 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 20px; }
  .text-empresa p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5; }

.director {
  /*contenedor descriptivo del director de la empresa*/
  grid-area: director;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px; }
  .director img {
    /*imagen director de la emrpesa*/
    border-radius: 6px;
    width: 150px;
    height: 150px; }

.text-director {
  /*texto descriptivo del director*/
  width: 70%; }
  .text-director h3 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 20px; }
  .text-director p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5; }

.certifications {
  /*contenedor de imagenes de certificados*/
  grid-area: certificados;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 20px;
  padding: 20px; }
  .certifications img {
    margin: 20px;
    border-radius: 6px;
    width: 350px;
    height: 300px;
    border-style: inset; }

.text-box {
  /*texto de los 4 boxes de fundamentos de la empresa*/
  width: 70%;
  height: 80%;
  padding: 20px;
  padding-bottom: 60px;
  border-radius: 6px;
  border-style: outset;
  background-color: whitesmoke; }
  .text-box h3 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10px;
    color: crimson; }
  .text-box p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5; }

.box-1 {
  /*"nuestra mision"*/
  grid-area: box-1;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px; }

.box-2 {
  /*"nuestra vision"*/
  grid-area: box-2;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px; }

.box-3 {
  /*"nuestros valores"*/
  grid-area: box-3;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px; }

.box-4 {
  /*"nuestro objetivo"*/
  grid-area: box-4;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px; }

/***SERVICIOS***/
.container-services {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 20px;
  margin-bottom: 20px; }

.title-services {
  /*titulo servicios*/
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px; }
  .title-services h3 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif; }

.box-service {
  /*box de cada uno de los servicos*/
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f3f1f1;
  box-shadow: 0.1px 2px 5px 5px rgba(6, 6, 6, 0.2);
  border-radius: 6px; }
  .box-service img {
    width: 100%;
    height: 300px; }
  .box-service h3 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 8px; }
  .box-service p {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 5px;
    margin-bottom: 5px; }

/***CLIENTES***/
.main-title {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0; }
  .main-title h3 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 10px; }
  .main-title p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif; }

.container-logo {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 300px);
  gap: 30px;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 10px; }

/***CONTACTO***/
.main-container {
  /*contenedor general para la imagen de fondo*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/imagen-oficina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.container-contact {
  /*contenedor de formulario*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 650px;
  margin-top: 8px;
  border-radius: 10px;
  background-color: #3b3838; }
  .container-contact h3 {
    font-size: 25px;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    padding-top: 15px; }

.form-cont {
  /*contenedor que agrupa a los casilleros de datos*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 25px; }

.box-nombre {
  margin: 8px 0px;
  margin-right: 5px; }
  .box-nombre label {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 10px; }
  .box-nombre input {
    /*ingreso de datos*/
    border-radius: 6px;
    margin-left: 10px;
    width: 400px;
    height: 40px;
    padding: 5px; }

.box-apellido {
  margin: 8px 0px; }
  .box-apellido label {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 10px; }
  .box-apellido input {
    /*ingreso de datos*/
    border-radius: 6px;
    margin-left: 8px;
    height: 40px;
    width: 400px;
    padding: 5px; }

.box-telefono {
  margin: 8px 0px; }
  .box-telefono label {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 10px; }
  .box-telefono input {
    /*ingreso de datos*/
    border-radius: 6px;
    height: 40px;
    width: 400px;
    padding: 5px;
    margin-left: 7px; }

.box-email {
  margin: 8px 0px; }
  .box-email label {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 10px; }
  .box-email input {
    /*ingreso de datos*/
    border-radius: 6px;
    margin-left: 25px;
    height: 40px;
    width: 400px;
    padding: 5px; }

.box-mensaje {
  margin: 8px 0px; }
  .box-mensaje label {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 10px; }
  .box-mensaje textarea {
    /*ingreso de datos*/
    border-radius: 6px;
    height: 100px;
    width: 400px;
    padding: 5px; }

.bottom {
  /*boton de enviar*/ }
  .bottom input {
    padding: 15px 60px 15px 60px;
    background-color: rgba(51, 82, 219, 0.801);
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer; }
  .bottom :hover {
    background-color: #ef6d68; }

/****media queries header****/
@media (max-width: 768px) {
  .logo img {
    height: 90px;
    width: 90px;
    border-radius: 10px; }
  .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
    padding-right: 40px; } }

/*****media queries footer*****/
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3b3838;
    padding: 5px;
    width: 100%; }
  .name-address {
    /*nombre y direccion de la empresa*/
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: white;
    width: 80%;
    padding-left: 20px; }
  .container-redes {
    /*contenedor de redes sociales*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    row-gap: 60px;
    font-size: 18px; }
    .container-redes h5 {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      padding-right: 30px;
      color: white; }
  .container-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 30%;
    padding-right: 35px; }
    .container-links img {
      padding: 5px;
      width: 35px;
      height: 35px; } }

/*****media queries index***/
@media (max-width: 768px) {
  .main-index {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    min-height: 85%; } }

/****media queries empresa****/
@media (max-width: 768px) {
  .container-empresa {
    /*contenedor general de toda la pagina*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 50%, 1fr, 1fr, 1fr, 1fr;
    width: 100%;
    grid-template-areas: "empresa" "director" "certificados" "box-1" "box-2" "box-3" "box-4"; }
  .empresa {
    /*contenedor de la descripcion de la empresa*/
    grid-area: empresa;
    display: flex;
    flex-direction: column; }
  .text-empresa {
    /*texto descriptivo de la empresa*/
    width: 80%; }
  .director {
    /*contenedor descriptivo del director de la empresa*/
    padding-left: 15px; }
  .text-director {
    /*texto descriptivo del director*/
    width: 50%; }
  .img-cert {
    /*contenedor de imagenes de certificados*/
    grid-area: certificados;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;
    padding: 20px; }
    .img-cert img {
      /*imagenes de certificados*/
      margin: 20px;
      border-radius: 6px;
      width: 250px;
      height: 200px;
      border-style: inset; } }

/****media queries servicios****/
@media (max-width: 768px) {
  .container-services {
    display: grid;
    grid-template-columns: repeat(1, 450px); }
  .title-services {
    /*titulo servicios*/
    font-size: 20px; }
  .box-service {
    /*box de cada uno de los servicos*/ }
    .box-service img {
      width: 100%;
      height: 250px; }
    .box-service h3 {
      font-size: 18px; }
    .box-service p {
      font-size: 16px; } }

/****media queries clientes****/
@media (max-width: 768px) {
  .main-title {
    font-size: 20px;
    padding: 5px; }
    .main-title p {
      font-size: 15px; }
  .container-logo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    align-items: center; }
  .logo-client img {
    width: 90%;
    height: 90%; } }

/****media queries contacto****/
@media (max-width: 768px) {
  .main-container {
    align-items: center; }
  .title-contact {
    font-size: 20px; }
  .container-contact {
    width: 550px;
    height: 600px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: #3b3838; }
  .form-cont {
    font-size: 20px; } }

/*media queries header*/
@media (max-width: 576px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    gap: 10px;
    padding-right: 30px; }
  .logo img {
    height: 80px;
    width: 80px;
    border-radius: 10px; }
  .logo {
    padding-left: 35px; } }

/****media queries footer****/
@media (max-width: 576px) {
  .name-address {
    /*nombre y telefono de la empresa*/
    font-size: 10px; }
  .container-redes {
    /*container de redes sociales*/ }
    .container-redes h5 {
      font-size: 12px; }
  .container-links {
    /*container de iconos*/ }
    .container-links img {
      padding: 5px;
      width: 30px;
      height: 30px; } }

/*****media queries index*****/
@media (max-width: 576px) {
  .background-img {
    background-image: url(../assets/img/dos-personas.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%; }
  .main-index h1 {
    grid-column: 2 / 5;
    grid-row: 7 / 9;
    color: white;
    font-size: 100px;
    font-family: 'Arvo', serif;
    text-align: left;
    margin-top: 5px;
    margin-left: 20px; }
  .main-index h2 {
    grid-column: 2 / 12;
    grid-row: 9 / 12;
    text-align: left;
    color: white;
    font-size: 50px;
    margin-left: 15px;
    font-family: "Montserrat", sans-serif; } }

/*****media queries empresa*****/
@media (max-width: 576px) {
  .container-empresa {
    /*contenedor general de toda la pagina*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 50%, 1fr, 1fr, 1fr, 1fr;
    width: 100%;
    grid-template-areas: "empresa" "director" "certificados" "box-1" "box-2" "box-3" "box-4"; }
  .empresa {
    /*contenedor de la descripcion de la empresa*/
    flex-direction: column; }
  .text-empresa {
    /*texto descriptivo de la empresa*/
    width: 80%; }
    .text-empresa h3 {
      font-size: 15px; }
    .text-empresa p {
      font-size: 13px; }
  .director {
    /*contenedor descriptivo del director de la empresa*/
    padding-left: 15px; }
    .director img {
      /*imagen director de la emrpesa*/
      border-radius: 6px;
      width: 150px;
      height: 150px; }
  .text-director {
    /*texto descriptivo del director*/
    width: 40%; }
    .text-director h3 {
      font-size: 15px; }
    .text-director p {
      font-size: 13px; }
  .img-cert {
    /*contenedor de imagenes de certificados*/
    grid-area: certificados;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;
    padding: 20px; }
    .img-cert img {
      /*imagenes de certificados*/
      margin: 20px;
      border-radius: 6px;
      width: 250px;
      height: 200px;
      border-style: inset; }
  .text-box {
    /*texto de los 4 boxes de fundamentos de la empresa*/ }
    .text-box h3 {
      font-size: 15px; }
    .text-box p {
      font-size: 13px; } }

/****media queries servicios****/
@media (max-width: 576px) {
  .container-services {
    /*contenedor de servicios*/
    display: grid;
    grid-template-columns: repeat(1, 350px); }
  .title-services {
    /*titulo de la pagina*/
    font-size: 15px; }
  .box-service div img {
    /*imagen de cada box*/
    width: 100%;
    height: 200px; }
  .box-service div h3 {
    /* titulo de cada box*/
    font-size: 15px; }
  .box-service div p {
    /*parrafo de cada box*/
    font-size: 13px; } }

/*****media queries clientes*****/
@media (max-width: 576px) {
  .main-title {
    font-size: 13px; }
    .main-title p {
      font-size: 13px; }
  .container-logo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    align-items: center;
    row-gap: 30px; } }

/*media queries contacto*/
@media (max-width: 576px) {
  .container-contact {
    width: 320px;
    height: 450px;
    margin-top: 18px;
    border-radius: 10px;
    background-color: #3b3838; }
    .container-contact h3 {
      font-size: 15px; }
  .form-cont {
    /*contenedor que agrupa a los casilleros de datos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    row-gap: 15px; }
  .box-nombre {
    margin: 8px 0px;
    margin-right: 5px; }
    .box-nombre label {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: white;
      margin-right: 10px; }
    .box-nombre input {
      /*ingreso de datos*/
      border-radius: 6px;
      margin-left: 10px;
      width: 200px;
      height: 30px;
      padding: 5px; }
  .box-apellido {
    margin: 8px 0px; }
    .box-apellido label {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: white;
      margin-right: 10px; }
    .box-apellido input {
      /*ingreso de datos*/
      border-radius: 6px;
      margin-left: 8px;
      height: 30px;
      width: 200px;
      padding: 5px; }
  .box-telefono {
    margin: 8px 0px; }
    .box-telefono label {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: white;
      margin-right: 10px; }
    .box-telefono input {
      /*ingreso de datos*/
      border-radius: 6px;
      height: 30px;
      width: 200px;
      padding: 5px;
      margin-left: 7px; }
  .box-email {
    margin: 8px 0px; }
    .box-email label {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: white;
      margin-right: 7px; }
    .box-email input {
      /*ingreso de datos*/
      border-radius: 6px;
      margin-left: 25px;
      height: 30px;
      width: 200px;
      padding: 5px; }
  .box-mensaje {
    margin: 8px 0px; }
    .box-mensaje label {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: white;
      margin-right: 15px; }
    .box-mensaje textarea {
      /*ingreso de datos*/
      border-radius: 6px;
      height: 80px;
      width: 200px;
      padding: 5px; }
  .bottom {
    /*boton de enviar*/ }
    .bottom input {
      padding: 5px 30px 5px 30px;
      background-color: rgba(51, 82, 219, 0.801);
      margin-bottom: 10px;
      color: white;
      font-size: 12px;
      border: none;
      cursor: pointer; }
    .bottom :hover {
      background-color: #ef6d68; } }
