/***FOOTER***/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(59, 56, 56);
    padding: 5px;
    width: 100%;

}

.name-address { /*nombre y telefono de la empresa*/
    font-family: $font-paragraph;
    color: white;
    width: 60%;
    padding-left: 50px;
}

.container-redes {/*contenedor de redes sociales*/
    display: flex;
    flex-direction: row;
   justify-content: flex-end;
    width: 60%;

    h5 {   
        font-family: $font-paragraph;
        font-size: 20px;
        padding-right: 40px;
        color: white;
    }
}

.container-links {/*container de iconos*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 30%;
    padding-right: 35px;
    img {
        padding: 5px;
        width: 40px;
        height: 40px;
    }

}