header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background-header;
    padding: 2px 5px 0px 5px;
    /*width: 100%;*/
}

.logo {
    padding-left: 50px;

    img {
        border-radius: 10px;
        /***animacion del logo****/
        -webkit-animation: scale-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
nav {
    width: 100%;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    gap: 50px;
    padding-right: 40px;
    li a {
        text-decoration: none;
        color: black;
    }
    li a:hover {
        color: rgb(252, 17, 17);
        cursor: pointer;
    }
}