/***HEADER***/
header{
    background-color:rgb(59, 56, 56); 
      
 }
 nav{
     background-color:rgb(59, 56, 56) ;
     
 }
 
 .navbar-brand {
     /*el logo*/
     img{
     height: 80px;
     width: 80px;
     border-radius: 6px;
     -webkit-animation: scale-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     animation: scale-in-center 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
}

 @-webkit-keyframes scale-in-center {
     0% {
         -webkit-transform: scale(0);
         transform: scale(0);
         opacity: 1;
     }
 
     100% {
         -webkit-transform: scale(1);
         transform: scale(1);
         opacity: 1;
     }
 }
 
 @keyframes scale-in-center {
     0% {
         -webkit-transform: scale(0);
         transform: scale(0);
         opacity: 1;
     }
 
     100% {
         -webkit-transform: scale(1);
         transform: scale(1);
         opacity: 1;
     }
 }
 
 .nav-link {
     /*nombres de las paginas*/
     font-size: 18px;
     color: white;
     font-family: 'Montserrat', sans-serif;
     
 }
 
 .navbar-toggler {
     color: rgb(252, 17, 17);
     background-color: white;
 }
 
 
 .nav-link:hover {
     color: rgb(252, 17, 17);
     cursor: pointer;
 }
 
 