.image-index {
    
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/tres-personas.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
   
}