/***CLIENTES***/
.main-title {
   text-align: center;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    font-family: $font-paragraph;
    font-size: 30px;
    p{
        font-size:20px ;
    }
}
.container-logo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 300px);
    gap: 30px;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
}


