/*****media queries servicios****/
@media (max-width:992px){
    .container-services {
        /*contenedor de servicios*/
        display: grid;
        grid-template-columns: repeat(2, 450px);
}
.title-services {
    /*titulo servicios*/
    font-size: 20px;
}

.box-service {
    /*box de cada uno de los servicos*/

    img {
        width: 100%;
        height: 250px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}
}


